.chat-side
  .chat-header
    .main_header_left-box
      %h2.main_header_left-box-current_group test
      %ul.main_header_left-box-member-list masa
    = link_to "#" do
      .main_header-edit_btn Edit
  .chat-main
    .message
      .upper_info
        %p.message_upper_info_talker k
        %p.message_upper_info_date 2020/4/29(wed)
      %p.message_text おはよう
      .message
      .upper_info
        %p.message_upper_info_talker i
        %p.message_upper_info_date 2020/4/29(wed)
      %p.message_text おはよう
  .footer
    %form.new-message
      .input-box
        
        %input.input-box_text{:placeholder => "type a message"}/
        %label{class: "input-box__image"}
          = icon('fa', 'image')
          %input.message-file{type: "file"}
        
      %input.submit-btn{:type => "submit",:name => "commit",:value => "send"}/
  